#about-me {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  max-width: 1080px;
}

.profile,
.about {
  margin: 25px;
}

p {
  margin: 1em 0;
  padding: 0 0 0 1em;
  border: 1px solid #080202;
  border-width: 0 0 0 1px;
}

@media (min-width: 768px) {
  #about-me {
    flex-direction: row;
  }

  .profile {
    min-width: 350px;
  }
}
